{% extends 'header1.html'%}
{% load static%}
{%block content %}
<style>
    li{
        color: red;
    }
</style>
    <div class="blank">
        <div class="blank-page">
            <h2>Steps to search the app in website</h2>
            <center>
                <video width="900px" height="600px" controls="controls" autoplay style="margin: -40px;"> 
                    <source src="{%static  'sentiment/assets/images/video.mp4'%}" type="video/mp4"> 
                </video><br><br><br>
                <a href="hsearch" style="background-color: #d95459;text-decoration:none;padding:10px;color:white; ">Continue to Search</a>
            </center>
                <!--<ul>
                    <li><b><p style="color:black">Go to google playstore.</p></b></li>
                    <li><b><p style="color:black">Search any app.</p></b></li>
                    <li><b><p style="color:black">Click on the app.</p></b></li>
                    <li><b><p style="color:black">From the search engine choose the specific id copy the the id and put it on search area on the website.</p></b></li>
                    <li><b><p style="color:black">Click on search button.</p></b></li>          
                </ul>-->
            
        </div>
    </div>
{%endblock%}