{% extends 'header1.html'%}

{%block content %}


 	<!--banner-->	
     <div class="banner">
        <h2>
        <a href="index1">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>Blank</span>
        </h2>
    </div>
<!--//banner-->
<!--faq-->
<div class="blank">


    <div class="blank-page">
        <center>
            <h1>All Users History</h1>
            <div class="tb">
            <table border="1">
                <tr>
                    <th>No</th>
                    <th>App Name</th>
                    <th>Date and Time</th> </th>
                    <th>Email</th>
                    <th>Delete </th>
                </tr>
                {% for i in data  %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.app_name}}</td>
                    <td>{{i.dt}}</td>
                    <td>{{i.email}}</td>
                    <td><form action="deletehistory" method="POST" >
                        {%csrf_token%}
                        <input type="hidden" value="{{i.id}}" name="id">
                        <input type="submit" value="delete" ></form>
                    </td>
                </tr>
                {%endfor%}
            
            </table>
            </div>
            </center>
        
    </div>
   </div>

<!--//faq-->





{%endblock%}